<div id="big-wrapper">
	<header id="top_header">
    <h3>Warkentien2</h3>
  </header>
  <nav id="top_menu">
    <ul>
      <li><a href="#">Welcome</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div id="new_div">
  	<section id="main_section">
      <h1>Computer Engineer and Digital Artist</h1>
      <button type="button" class="btn">View my Work</button>
  	</section>
  </div>
	<footer id="the_footer">
    <ul>
      <li><a href="https://www.facebook.com/warkentien2"><img src="https://cdn4.iconfinder.com/data/icons/black-icon-social-media/256/099303-facebook-logo-square.png"/></a></li>
      <li><a href="https://twitter.com/warkentien2"><img src="http://vectorlogofree.com/wp-content/uploads/2014/03/34238-twitter-logo-icon-vector-icon-vector-eps.png"/></a></li>
    </ul>
    <!-- if I use the icons I downloaded
    <a href='http://www.freepik.com/free-vector/watercolor-social-media-logos_788073.htm'>Designed by Freepik</a>
    <a href='http://www.freepik.com/free-vector/social-media-free-vector_714597.htm'>Designed by Freepik</a>
		-->
  </footer>
</div>